html { direction: rtl;
background-image: url("images/9.jpg");color: white;}
article{background-color:rgba(128, 128, 128,0.8);
              
}

a{color: yellow;}
@font-face {
    font-family: myTitr;
    src: url(fonts/1.ttf);
}
@font-face {
    font-family: myMatn;
    src: url(fonts/2.ttf);
}


header {    font-family: myTitr;}
article{       font-family:myMatn;}
