div.saatgard {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorchange;
    animation-duration: 4s;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 4s;
    border-radius: 50px;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes colorchange {
    0% {
        background-color: red;
        transform: translate(0px,0px);
    }
    20%{
        background-color: black;
        transform: translate(0px, 200px);
    }
    40% {
        background-color: green; 
        transform: translate(200px, 200px);
    }
    80% {
        background-color: blue;
        transform: translate(200px, 0px);
    }
    100%{
        background-color: red;
        margin: 0px 0px;
    }
    
}

@-webkit-keyframes colorchange {
    0% {background-color: red; }
    50% {background-color: green; }
    100% {background-color: blue; }
}
div.padsaatgard{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorchange;
    animation-duration: 4s;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 4s;
    border-radius: 50px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
div.faza{
    height: 300px;
    width: 300px;
    border: solid 2px black;
    float: left;
}