p::first-line{
    color: red;
}
p::first-letter{
    color: green;
    font-weight: bold;
}
p::selection{
    background-color: yellow;
}
p::before{
    content: "==>> "url(logo.jpg)" ";
}
p::after{
    content: "<<=="
}