div.empty-div {
    position: relative;
    height: 100px;
    width: 200px;
    margin: 30px;
    border: 1px solid black;

}
div.green-div {
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: #8bc34a;
    border: 1px solid white;
    transform: rotate(45deg);
    transform-origin: 25% 75%;
    -webkit-transdform: rotate(15deg);
    -webkit-transdform-origin: 25% 75%;
}