
[laye *="roo"] 
{
    background-color: black;
    width:50%;
    height:600px;
    position:absolute;
    z-index:-1; 
    transition:all 1s;
}
[laye="mask"] 
{
       width: 100%;
       height:600px;
       position:absolute;
       
}
[laye *= "rast"]
{

    transform:translate(100%,0); 
}
[laye ="mask"]:hover ~ [laye *="rast"]{
    transform:translate(200%,0); 
               
    
}
[laye ="mask"]:hover ~ [laye *="chap"]{
    transform:translate(-100%,0); 
               
    
}
