#mommy{
    border: 2px solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse; /*mitavan ba in tartibe element hara barax kard*/
}
#kid1, #kid2, #kid3, #kid4{
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
}
#kid1{
    background: green;
}
#kid2{
    background: yellow;
}
#kid3{
    background: red;
}
#kid4{
    background: orange;
}