body{
    text-align: center;
}
.box{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 7px solid blue;
    background: yellow;
    transition: transform 1s;
}
#text{
 font: bold 30px Century Gothic;   
}
.box:hover{
    transform: scale(1.2);
}